<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Foodie</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
    <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1>Your Cart </h1>

    <% for (let item of order) { %>
      <% if (item.quantity > 0 ) { %>
    <div class="menu_display">
      <img class="user" src="<%= item.image %>" width="80px" />
      <div class="menu_info">
        <p class="item-name">Name: <%= item.name %></p>
        <p class="item-price">Price: $<%= item.price/100 %></p>
        <p class="item-quantity">Quantity: <%= item.quantity %></p>
      </div>
    </div>
    <% } %>
    <% } %>

    <div class="menu_display">
      <div class="col">
        <p id="totalprice"><strong><h5>Order Total : $<%= orderTotal.total/100 %> </h5> </strong></p>
      </div>
      <form action="/confirmation" method="post">
        <button class="btn btn-danger" name="order_id" value= "<%= order_id.orderID %>" >Place Order</button>
    </form>
    </div>


  </body>
</html>
