<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- App JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <%- include('partials/_header') %>
    <h1>Menu Page</h1>

    <div class="menu">
      <% for (let item of menu) { %>
      <div class="menu_display">
        <img class="user" src= <%= item.image_url %> width="100px" />
        <div class="menu-info-and-button">
          <div class="menu_info">
            <p class="item-name">Item Name: <%= item.name %></p>
            <p class="item-description">
              Item description: <%= item.description %>
            </p>
            <p class="item-price">Item Price : $ <%= (item.price/100).toFixed(2) %></p>
          </div>

          <div class="menu_change">
            <input type="number" name="increment" class="quantity-<%= item.id %>">
            <!--<input type="button" value="+" class="increment" onclick="" />
            <label class="display">1</label>
            <input type="button" value="-" class="decrement" onclick="" /> -->
            <button class="add-to-cart-<%= item.id %>" type="button" class="btn btn-success">
              Add To Cart
            </button>
            <% console.log(item);
            %>
          </div>
        </div>
      </div>
      <% } %>

      <div class="col">
        <button
          type="submit"
          class="btn btn-success"
          id="place-order"

        >
          Ready to checkout
        </button>
      </div>
    </div>
  </body>
</html>


